<p class="btn-toolbar">
  <button ng-click="New()" class="btn btn-default">New Borrower</button>
</p>
<div ng-controller="BorrowerSearchCtrl">
  <div class="input-group">
    <input type="search" name="q" class="form-control" autocomplete="off" ng-model="query" ng-init="Search()" ng-change="Search()"/>
    <span class="input-group-btn">
    <button class="btn btn-primary" ng-click="Search()">Search</button>
    </span>
  </div>
  <div ng-if="borrowers">
    <div class="list-group">
      <div class="list-group-item" ng-repeat="borrower in borrowers">
        <span class="list-group-item-heading">
        <span class="text-big">[[borrower.ChineseName || borrower.EnglishName]]</span>
        </span>
        <span class="list-group-item-text">
        <span>[[borrower.Phone]]</span>
        <span class="label label-success" ng-if="CanBorrow(borrower)">borrowed [[borrower.NumBorrowed]] books</span>
        <span class="label label-Warning" ng-if="!CanBorrow(borrower)">borrowed [[borrower.NumBorrowed]] books</span>
        </span>
        <span class="pull-right">
        <button ng-click="Edit(borrower)" class="btn btn-default">Edit</button>
        </span>
      </div>
    </div>
  </div>
  <div ng-if="query.length != 0 && borrowers.length == 0">
    <div class="alert alert-warning">
      No result
    </div>
  </div>
  <div ng-if="error">
    <div class="alert alert-danger">
      [[error]]
    </div>
  </div>
  <pagination on-select-page="Search(page)" items-per-page="itemsPerPage" total-items="numResults" page="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;"></pagination>
</div>