<style>
.barcode-table {
	width: 7.5in;
}
.barcode-row {
	height: 1in;
}
.barcode-col {
	width: 1.5in;
}
.barcode {
	width: 1.25in;
	height: 0.75in;
	margin: auto;
}
.barcode img {
	width: 1.25in;
	height: 0.75in;
}
</style>
<form name="inputForm" class="form-inline hidden-print" ng-submit="Generate()" >
	 <div class="form-group" ng-class="{ 'has-error': inputForm.start.$invalid }">
		<label for="start">Start Barcode:</label>
		<input ng-pattern="/^[0-9]{12}$/" required name="start" id="start" class="form-control" type="text" ng-model="input.start"/>
	</div>

	<div class="form-group" ng-class="{ 'has-error': inputForm.page.$invalid }">
		<label for="page">Page:</label>
		<input ng-pattern="/^[0-9]+$/" required name="page" id="page" class="form-control" type="number" ng-model="input.page"/>
	</div>
	<button type="submit" ng-disabled="inputForm.$invalid" class="btn btn-primary">Generate</button>
	<button type='button' ng-click="Print()" ng-disabled="!barcodes" class="btn btn-default">Print</button>
</form>

<table class="barcode-table">
	<tr ng-if="barcodes.length" ng-repeat="r in barcodes" class="barcode-row">
		<td ng-repeat="b in r track by $index" class="barcode-col">
  			<div class="barcode">
  				<img ng-src="/barcode/[[b]]">
  			</div>
		</td>
	</tr>
</table>
