<style>
.barcode-table {
	width: 7.5in;
}
.barcode-row {
	height: 1in;
}
.barcode-col {
	width: 1.5in;
}
.barcode {
	position: relative;
	width: 1.25in;
	height: 0.75in;
	margin: auto;
}
.barcode img {
	width: 1.25in;
	height: 0.75in;
}
.barcode .del {
	position: absolute;
	top: 0px;
	right: 0px;
}
</style>
<form name="inputForm" class="form-inline hidden-print" ng-submit="Generate()" >
	 <div class="form-group" ng-class="{ 'has-error': inputForm.start.$invalid }">
		<label for="start">Start Barcode:</label>
		<input ng-pattern="/^[0-9]{12}$/" required name="start" id="start" class="form-control" type="text" ng-model="input.start"/>
	</div>

	<div class="form-group" ng-class="{ 'has-error': inputForm.count.$invalid }">
		<label for="count">count:</label>
		<input ng-pattern="/^[0-9]+$/" required name="count" id="count" class="form-control" type="number" ng-model="input.count"/>
	</div>
	<div class="form-group" ng-class="{ 'has-error': inputForm.step.$invalid }">
		<label for="step">step:</label>
		<input ng-pattern="/^[0-9]+$/" required name="step" id="step" class="form-control" type="number" ng-model="input.step"/>
	</div>
	<button type="submit" ng-disabled="inputForm.$invalid" class="btn btn-primary">Add</button>
	<button type='button' ng-click="Print()" ng-disabled="!barcodes" class="btn btn-default">Print</button>
</form>

<table class="barcode-table">
	<tr ng-if="barcodes.length" ng-repeat="r in layout" class="barcode-row">
		<td ng-repeat="b in r track by $index" class="barcode-col">
  			<div class="barcode">
  				<img ng-src="/barcode/[[b]]">
  				<span class="del glyphicon glyphicon-remove-sign" ng-click="Remove($index)"></span>
  			</div>
		</td>
	</tr>
</table>
