<div class="panel panel-info">
	<div class="panel-heading">Books</div>
	<div class="list-group">
		<a href="#/book/borrow" class="list-group-item">Borrow Books</a>
		<a href="#/book/return" class="list-group-item">Return Books</a>
	</div>
</div>
<div class="panel panel-info">
	<div class="panel-heading">Admin</div>
	<div class="list-group">
		<a href="#/borrower/manage" class="list-group-item">Manage Borrowers</a>
		<a href="#/book/manage" class="list-group-item">Manage Books</a>
		<a href="#/book/overdue" class="list-group-item">Overdue Books</a>
		<a href="#/book/stock" class="list-group-item">Stock Books</a>
		<a href="#/gen-barcode" class="list-group-item">Generate Book Barcode</a>
	</div>
</div>
