<div class="panel panel-info">
	<div class="panel-heading">Books</div>
	<div class="list-group">
		<a href="#/book/borrow" class="list-group-item">Borrow Books</a>
		<a href="#/book/return" class="list-group-item">Return Books</a>
		<a href="#/book/search" class="list-group-item">Search Books</a>
	</div>
</div>
<div class="panel panel-info">
	<div class="panel-heading">Admin</div>
	<div class="list-group">
		<a href="#/borrower/manage" class="list-group-item">Manage Borrowers</a>
		<a href="#/book/manage" class="list-group-item">Manage Books</a>
	</div>
</div>