<h1>Borrow Books</h1>
<div class="container">
	<form>
		<div class="form-group" ng-controller="BorrowerSearchCtrl" ng-class="{true: 'has-success', false: 'has-error'}[IsPhoneValid()]">
			<label for="borrower">Borrower phone:</label>
			<input ng-model="query" ng-change="Search(); SetPhone('')" ng-focus="suggest.borrower = true" type="text" id="borrower" class="form-control"/>
			<div ng-show="borrowers &amp;&amp; suggest.borrower" class="list-group">
				<div class="list-group-item" ng-repeat="borrower in borrowers">
					<span class="list-group-item-heading">
					<span class="text-big">[[borrower.ChineseName || borrower.EnglishName]]</span>
					</span>
					<span class="list-group-item-text">[[borrower.Phone]]</span>
					<span class="pull-right">
					<a href="" class="btn btn-default" ng-if="CanBorrow(borrower)" ng-click="SetQuery(borrower.Phone); SetPhone(borrower.Phone); ShowSuggest(false)">Choose</a>
					</span>
				</div>
		</div>
		<div class="form-group" ng-controller="BookSearchCtrl" ng-class="{true: 'has-success', false: 'has-error'}[IsBarcodeValid()]">
			<label for="book">Book barcode:</label>
			<input ng-model="query" ng-change="Search(); SetBarcode('')" ng-focus="suggest.book = true" type="text" id="book" class="form-control"/>
			<div ng-show="books &amp;&amp; suggest.book" class="list-group">
				<div class="list-group-item" ng-repeat="book in books">
					<span class="list-group-item-heading">
					<span class="text-big">[[book.Title]]</span>
					</span>
					<span class="list-group-item-text">
					<span class="author" ng-if="book.Authors">by [[book.Authors]]</span>
					<span class="label label-success" ng-if="book.Availability">Available</span>
					<span class="label label-Warning" ng-if="!book.Availability">Unavailable</span>
					</span>
					<span class="pull-right">
					<a href="" class="btn btn-default" ng-if="book.Availability" ng-click="SetQuery(book.Barcode); SetBarcode(book.Barcode); ShowSuggest(false)">Choose</a>
					</span>
				</div>
			</div>
		</div>
		<div class="alert alert-info">
			<label>Return by date:</label>
			<span class="text-big">[[ returnDate | date: 'yyyy-MM-dd' ]]</span>
		</div>
		<button class="btn btn-primary">Borrow</button>
		[[borrow]]
	</form>
</div>