<!DOCTYPE html>
<html ng-app="hoc5App">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>[[page.title]] - Hoc5 Library</title>
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
		<link rel="stylesheet" type="text/css" href="/css/hoc5.css" />
	</head>
	<body>
		<script src='/js/jquery-1.11.0.min.js'></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src='/js/angular/angular.min.js'></script>
		<script src='/js/angular/angular-route.min.js'></script>
		<script src="/js/ui-bootstrap-custom-0.10.0.min.js"></script>
		<script src="/js/ui-bootstrap-custom-tpls-0.10.0.min.js"></script>
		<script src="/js/ui-utils.min.js"></script>
		<!--[if lte IE 8]> <script src="/js/ui-utils-ieshiv.min.js"></script><![endif]-->
		<script src="/js/hoc5.js"></script>
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">HOC5 Library</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="/">Menu</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/logout">Logout</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container">
		<h1>[[page.title]]</h1>
<div ng-if="page.messages" class="container alert alert-info">
	<p ng-repeat="msg in page.messages">[[msg]]</p>
</div>
<div ng-if="page.errors" class="container alert alert-danger">
	<p ng-repeat="err in page.errors">[[err]]</p>
</div>
		</div>
		<div class="container" ng-view>
		</div>
	</body>
</html>